# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Ascension.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Ascension\.idea\.idea.Ascension\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
